.container {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

footer {
    display: flex;
    justify-content: flex-start;
}

.nav-menu {
    gap: 10px;
}